<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Incidents</title>
</head>
<body>

	<div layout:fragment="content" class="container mySpace">
		<div class="card">
			<div class="card card-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Incident Name</th>
							<th>New</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Abandoned Vehicles</td>
							<td><a href="/addComplaint1" class="btn btn-dark">Add</a></td>
						</tr>
						<tr>
							<td>Garbage Carts</td>
							<td><a href="/addComplaint2" class="btn btn-dark">Add</a></td>
						</tr>
						<tr>
							<td>Graffiti Removal</td>
							<td><a href="/addComplaint3" class="btn btn-dark">Add</a></td>
						</tr>
						<tr>
							<td>Pot Holes</td>
							<td><a href="/addComplaint4" class="btn btn-dark">Add</a></td>
						</tr>
						<tr>
							<td>Rodent Baiting</td>
							<td><a href="/addComplaint5" class="btn btn-dark">Add</a></td>
						</tr>
						<tr>
							<td>Sanitation Code</td>
							<td><a href="/addComplaint6" class="btn btn-dark">Add</a></td>
						</tr>
						<tr>
							<td>Tree Debris</td>
							<td><a href="/addComplaint7" class="btn btn-dark">Add</a></td>
						</tr>
						<tr>
							<td>Tree Trims</td>
							<td><a href="/addComplaint8" class="btn btn-dark">Add</a></td>
						</tr>
						<tr>
							<td>Lights</td>
							<td><a href="/addComplaint9" class="btn btn-dark">Add</a></td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>
	</div>
</body>
</html>