<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Profile</title>
</head>
<body>

	<div layout:fragment="content" class="container mySpace">
	     <form action="/profile" class="form-inline">
	        <div class="form-group mb-2">
	         <input type="text" class="form-control" name="activity" placeholder="Search Activity" />
	         <input type="submit" value="Search"  class="btn btn-primary"/>
	        </div>
	     </form>
		<div class="card">
			<div class="card card-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Time</th>
							<th>Activity</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="log:${logs}">
							<td th:text="${log.creation_date}"></td>
							<td th:text="${log.activity}"></td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>
	</div>
</body>
</html>